a:link {
	color: #6d3f1d;
	font-weight: bold;
}
a:visited {
	font-weight: bold;
	color: #6d3f1d;
}
a:hover {
  background-color: #e5c3a8;
}
div.code {
	margin-left: 2%;
	margin-right: 35%;
	padding: 10px;
	border-width: 2px;
	background-color: #e5c3a8;
	font-family: courier, fixed, monospace;
}
em {
	font-style: italic;
}
h1 {
	color: #6d3f1d;
	font-family: arial, helvetica, sans-serif;
}
h2 {
	color: #6d3f1d;
	font-family: arial, helvetica, sans-serif;
}
h3 {
	color: #6d3f1d;
	font-family: arial, helvetica, sans-serif;
}
p {
	font-family: arial, helvetica, sans-serif;
}

#logo{
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

