a:link {
	color: #46A;
	font-weight: bold;
}
a:visited {
	font-weight: bold;
	color: #46A;
}
a:hover {
  background-color: #DDF;
}
div.code {
	margin-left: 5%;
	margin-right: 15%;
	padding: 10px;
	border-width: 2px;
	background-color: #DEF;
	font-family: courier, fixed, monospace;
}
em {
	font-style: italic;
}
h1 {
	color: #46A;
	font-family: arial, helvetica, sans-serif;
}
h2 {
	color: #46A;
	font-family: arial, helvetica, sans-serif;
}
h3 {
	color: #46A;
	font-family: arial, helvetica, sans-serif;
}
p {
	font-family: arial, helvetica, sans-serif;
}

